<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Showing Product <%= product.name %></h1>

<ul>
  <li><%= product.name %></li>
  <li><%= product.price %></li>
</ul>

<a href="/products">Back to index</a>
</body>
</html>