<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Index</title>
</head>
<body>
    <h1>Fruits show page</h1>
        The  <%=budget.name; %> 
        
</body>
</html>