body {
    background-color: purple;
    text-align: center;
}

.cat {
    font-family: fantasy;
}
.secret {
    opacity: 0.5;
}
ul {
    list-style-type: none;
    display: inline-block;
    border: 1px solid red;
}
li {
    border: 1px solid red;
}
table {
    text-align: center;
    width: 100%;
}
th {
    display: inline-block;
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
.cabbage {
    color: chartreuse;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid green;
    display: inline-block;

}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    display: inline-block;
}