<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <style type="text/css">
            body {
              color: blanchedalmond;
              background-color: steelblue;
            }
          </style>
    <h1>pokemon index</h1>
    <ul>
            <% for(i = 0; i < pokemon.length; i++) { %>
              <li> <a href="/pokemon/<%=i%>"><%= pokemon[i].name %></a>
            <% } %>
          </ul>
        
</body>
</html>