<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>New Fruit page</h1>
  <form action="/logs" method="POST">
    Title: <input type="text" name="title" /><br />
    Entry: <input type="texarea" name="entry" /><br />
    Ship is Broken: <input type="checkbox" name="shipIsBroken" /><br />
    <input type="submit" name="" value="Submit Entry" />
  </form>
</body>

</html>